<div class="card">
  <header class="card-header">
    
        <div class="column">
            <p class=" has-text-primary-light"></p>
      <a href="/post/{{id}}"  class="title">{{title}} </a></p>
      </div>

      <div class="column">
      <span class=""> </span>
      </div>
    
  </header>

    <div class="card-content">
        <div class="content">
            {{post_content}}
        </div>
            <div class="">
                <b>{{user.username}}</b> 
                <a href="/post/{{id}}"></a>
            </div>
        
    </div>
